.album___info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 0.3em;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Inter', sans-serif;
}
.album___cover{
    height: 50vh;
    width: 50vh;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 0.2em;
    padding: 0.3em;
    box-sizing: border-box;
}
.album___song{
    background-color: #0a0528;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    cursor: pointer;
}
.album___tracks{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 0.6em;
    margin-top: 20px;
    box-sizing: border-box;
    color: aliceblue;
    border: 2px solid #12fbff84;
    border-radius: 0.5em;
    box-shadow: 
        0 0 1px #43005b,
        0 0 3px #23012f,
        inset 0 0 1px #23012f,
        inset 0 0 3px #23012f;
    transition: border 0.3s, box-shadow 0.3s;
    font-family: 'Inter', sans-serif;
    font-size: 1.5em;
}
.album___tracks:hover{
    border: 4px solid #540071;
    box-shadow: 
        0 0 10px #540071,
        0 0 20px #540071,
        inset 0 0 10px #540071,
        inset 0 0 20px #540071;
    transition: 0.3s; 
    background-color: #23012f;
}
.album___add{
    width: 20%;
}
