main{
    background-color: #0a0528;
    display: flex;
    justify-content:space-between;
    align-items: flex-start; /* Posiciona en la parte superior */
    height: 100%;
}
.nav-dashboard{
    width:40%;
    height: 100%;
    background-color: #0a0528;
    padding: 0.3em;
    box-sizing: border-box;
    
}
.album___box{
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #0a0528;
    padding: 0.3em;
    flex-direction: column;
    border: 2px solid #00d5ff;
    border-radius: 0.5em;
    box-shadow: 
        0 0 1px #00d5ff,
        0 0 3px #00d5ff,
        inset 0 0 1px #00d5ff,
        inset 0 0 3px #00d5ff;
    transition: border 0.3s, box-shadow 0.3s;
}
.album___box:hover{
    border: 4px solid #00d5ff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff;
    transition: 0.3s; 
    background-color: #23012f;
}