.category-playlist__list{
    box-sizing: border-box;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 0.5em;
    border: 2px solid #00d5ff;
    box-shadow: 
    0 0 1px #00d5ff,
    0 0 3px #00d5ff,
    inset 0 0 1px #00d5ff,
    inset 0 0 3px #00d5ff;
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
    overflow: scroll;
    list-style: none;
    gap: 1em;
}
.category-playlist__item{
    margin-bottom: 20px;
}
.category-playlist__item img{
    width: auto;
    height: auto;
    max-width: 90%;
    border-radius: 2px;
    transition: 0.4s; 
    margin-top: 10px;
}
.category-playlist__item img:hover{
    transform: scale(1.04);
    border-radius: 0.25em;
    border: 4px solid #12fcff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff; 
}
.category-playlist__name{
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

@media screen and (max-width: 768px) {
    .category-playlist__item{
        width: 100%;
        margin-bottom: 20px;
    }
    .category-playlist__list{
        grid-template-columns: 1fr 1fr;
    }
    }