.category-results{
    display: flex;
    width: 80%;
    height:100%;
    background-color: #0a0528;
    padding: 0.3em;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .category-results {
        width: 100%;
    }
    }