.main{
    color: #ccc;
}
.form___ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em; 
    width: 80%;
    height: 100% ;
    background-color: #0a0528;
}

@media screen and (max-width: 768px) {
    .form___ticket{
        width: 100%;
    }
    }