.main{
    color: #ccc;
}
.form___ticket{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em; 
    width: 100%;
    height: 100% ;
    background-color: #0a0528;
}