.dashboard {
  margin-top: 0.5em;
  width: 100%;
  height: 100vh;
  background-color: #0a0528;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  border-radius: 0.5em;
  border: 2px solid #00d5ff;
  box-shadow: 
  0 0 1px #00d5ff,
  0 0 3px #00d5ff,
  inset 0 0 1px #00d5ff,
  inset 0 0 3px #00d5ff;
  transition: border 0.3s, box-shadow 0.3s;
  color: #ccc;
}

.dashboard:hover {
  background-color: #17012a;
  border: 4px solid #00d5ff;
  box-shadow: 
    0 0 10px #00d5ff,
    0 0 20px #00d5ff,
    inset 0 0 10px #00d5ff,
    inset 0 0 20px #00d5ff;
  transition: 0.3s; 
}

.dashboard__welcome {
  color: rgb(246, 252, 222);
  font-size: 2em;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.dashboard__links {
  display: flex;
  flex-direction: column;
  align-items:first baseline;
  justify-content: center;
  width: 100%;
  margin-left: 0.5em;
  padding-bottom: 2em;
}
.dashboard___link{
  color: rgb(246, 252, 222);
  font-size: 1.2em;
  text-align: center;
  font-family: 'Inter', sans-serif;
  margin-bottom: 0.5em;
  text-decoration:none;
}

.dashboard__input-playlist {
  width: 100%;
  max-width: 20em;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 4px solid #ccc;
  border-radius: 0.25em;
  background: linear-gradient(#2c003b, #23012f);
  cursor: pointer;
  border-color: #12fcff;
  box-shadow: 
    0 0 5px #00d5ff,
    0 0 10px #00d5ff,
    inset 0 0 5px #00d5ff,
    inset 0 0 10px #00d5ff; 
    color: #ccc;
}

.dashboard__scroll-section {
  overflow-y: scroll;
}

.show-dashboard{
  background-color:  #250045; /* Color de fondo */
  border: 2px solid #12fcff; /* Borde sólido con color */
  color: rgb(255, 255, 255); /* Color de texto */
  padding: 5px 5px; /* Relleno */
  text-align: center; /* Alineación del texto */
  text-decoration: none; /* Sin decoración de texto */
  display: inline-block; /* Mostrar como bloque en línea */
  font-size: 16px; /* Tamaño de fuente */
  margin: 4px 2px; /* Margen */
  cursor: pointer; /* Cursor de puntero */
  border-radius: 25px 2px 2px 25px; /* Bordes redondeados */
  transition: border 0.3s, box-shadow 0.3s;
  position: absolute; /* Posición absoluta */
  top: 115px; /* Alineación en la parte superior */
}

/* Al pasar el cursor sobre el botón */
.show-dashboard:hover {
  box-shadow: 
  0 0 10px #00d5ff,
  0 0 20px #00d5ff,
  inset 0 0 10px #00d5ff,
  inset 0 0 20px #00d5ff;
  transition: border 0.3s, box-shadow 0.3s; 
}
