.dashboard {
  background-color: #0a0528;
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.5em;
  border: 4px solid #12fcff;
  box-shadow: 
    0 0 10px #00d5ff,
    0 0 20px #00d5ff,
    inset 0 0 10px #00d5ff,
    inset 0 0 20px #00d5ff; 
  transition: border 0.3s, box-shadow 0.3s;
  color: #ccc;
}

.dashboard:hover {
  border: 4px solid #8500b2;
  box-shadow: 
    0 0 10px #8500b2,
    0 0 20px #8500b2,
    inset 0 0 10px #8500b2,
    inset 0 0 20px #8500b2;
  transition: 0.3s; 
}

.dashboard__welcome {
  padding-bottom: 3em;
}

.dashboard__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* Add more styles as needed */
}

.dashboard__input-playlist {
  width: 100%;
  max-width: 20em;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 4px solid #ccc;
  border-radius: 0.25em;
  background: linear-gradient(#2c003b, #23012f);
  cursor: pointer;
  border-color: #12fcff;
  box-shadow: 
    0 0 5px #00d5ff,
    0 0 10px #00d5ff,
    inset 0 0 5px #00d5ff,
    inset 0 0 10px #00d5ff; 
    color: #ccc;
}

.dashboard__scroll-section {
  overflow-y: scroll;
}
