body{
    background-color: #0a0528;
    display: inline;
}
main{
    background-color: #0a0528;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}