body{
    background-color: #0a0528;
    display: inline;
}
main{
    background-color: #0a0528;
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
    
}
.nav-dashboard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:20%;
    height: 100%;
    background-color: #0a0528;
    padding: 0.3em;
}
.search-results{
    display: flex;
    width: 80%;
    height:100%;
    background-color: #0a0528;
    padding: 0.3em;
    flex-direction: column;
}
@media screen and (max-width: 768px) {
    .search-results{
        width: 100%;
    }
    .nav-dashboard{
        display: none;
    }
}