body{
    background: rgb(10,5,40);
    background: linear-gradient(349deg, rgba(10,5,40,1) 30%, rgba(54,0,73,1) 100%);
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    display: flex;
    justify-content:space-between;
    align-items: flex-start; 
    height: 100%;
}