.form{
    color: #f5f5f5;
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 4px;
    border-color: #12fcff;
    box-shadow: 
        0 0 5px #00d5ff,
        0 0 10px #00d5ff,
        inset 0 0 5px #00d5ff,
        inset 0 0 10px #00d5ff; 
    transition: border 0.3s, box-shadow 0.3s;
}