
.search-list {
    background-color: #0a0528;
    height: 50%;
    width: 100%;
    padding: 1em;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    max-height: 50%;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.input-songs {
    width: 100%;
    max-width: 20em;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 4px solid #ccc;
    border-radius: 0.25em;
    background: linear-gradient(#2c003b, #23012f);
    cursor: pointer;
    border-color: #12fcff;
    box-shadow: 
        0 0 5px #00d5ff,
        0 0 10px #00d5ff,
        inset 0 0 5px #00d5ff,
        inset 0 0 10px #00d5ff; 
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
}

.input-songs:hover {
    border: 4px solid #8500b2;
    box-shadow: 
        0 0 10px #8500b2,
        0 0 20px #8500b2,
        inset 0 0 10px #8500b2,
        inset 0 0 20px #8500b2;
    transition: 0.3s; 
}

.button-search {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: 1px solid #12fcff;
    background: linear-gradient(#540071, #23012f);
    cursor: pointer;
    box-shadow: 
        0 0 5px #00d5ff,
        0 0 10px #00d5ff,
        inset 0 0 5px #00d5ff,
        inset 0 0 10px #00d5ff; 
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
}

.button-search:hover {
    border: 4px solid #8500b2;
    box-shadow: 
        0 0 10px #8500b2,
        0 0 20px #8500b2,
        inset 0 0 10px #8500b2,
        inset 0 0 20px #8500b2;
    transition: 0.3s; 
}

.results__list {
    list-style: none;
}

.results__item {
    margin-bottom: 0.5em;
}

.portrait {
    width: 50%;
    max-width: 20em;
    border: 4px solid #12fcff;
    box-shadow: 
        0 0 10px #12fcff,
        0 0 20px #12fcff,
        inset 0 0 10px #12fcff,
        inset 0 0 20px #12fcff;
    transition: 0.3s; 
}

.portrait:hover {
    transform: scale(1.04);
    border-radius: 0.25em;
    border: 4px solid #12fcff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff; 
}

.portrait-img {
    width: 100%;
    max-width: 10em;
    height: auto;
}

.songs {
    display: flex;
    flex-direction: column;
    padding: 1;
    align-items: center;
    color: #ccc;
}

.results {
    
    background-color: #0a0528;
    max-height: 70%;
    padding-top: 5em;
    margin-right: 3em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 0.5em;
    border: 4px solid #12fcff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff; 
    overflow: scroll;
    background-color: #0f0025;
    transition: border 0.3s, box-shadow 0.3s;
}

.results:hover {
    border: 4px solid #8500b2;
    box-shadow: 
        0 0 10px #8500b2,
        0 0 20px #8500b2,
        inset 0 0 10px #8500b2,
        inset 0 0 20px #8500b2;
    transition: 0.3s; 
}

img:hover {
    transform: scale(1.04);
}
