.search-list {
    background-color: #0a0528;
    padding: 1em;
    flex-direction: column;
    max-height: 90%;
    font-family: 'Inter', sans-serif;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 1em; /* Add space between elements */
}

.input-songs {
    height: max-content;
    width: 100%;
    max-width: 20em;
    padding: 0.5em;
    border: 4px solid #ccc;
    border-radius: 0.25em;
    background: linear-gradient(#2c003b, #23012f);
    cursor: pointer;
    border-color: #12fcff;
    box-shadow: 
        0 0 5px #00d5ff,
        0 0 10px #00d5ff,
        inset 0 0 5px #00d5ff,
        inset 0 0 10px #00d5ff; 
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
}

.input-songs:hover {
    border: 4px solid #8500b2;
    box-shadow: 
        0 0 10px #8500b2,
        0 0 20px #8500b2,
        inset 0 0 10px #8500b2,
        inset 0 0 20px #8500b2;
    transition: 0.3s; 
}

.button-search {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: 1px solid #12fcff;
    background: linear-gradient(#540071, #23012f);
    cursor: pointer;
    box-shadow: 
        0 0 5px #00d5ff,
        0 0 10px #00d5ff,
        inset 0 0 5px #00d5ff,
        inset 0 0 10px #00d5ff; 
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
}

.button-search:hover {
    border: 4px solid #8500b2;
    box-shadow: 
        0 0 10px #8500b2,
        0 0 20px #8500b2,
        inset 0 0 10px #8500b2,
        inset 0 0 20px #8500b2;
    transition: 0.3s; 
}

.results__list {
    list-style: none;
}

.results__item {
    margin-bottom: 0.5em;
}

.portrait {
    width: 50%;
    max-width: 20em;
    border: 2px solid #12fcff;
    border-radius: 2px;
    transition: 0.3s; 
}

.portrait:hover {
    transform: scale(1.04);
    border-radius: 0.25em;
    border: 4px solid #12fcff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff; 
}

.portrait-img {
    width: 100%;
    max-width: 10em;
    height: auto;
}

.songs {
    margin: 5px;
    display: flex;
    flex-direction: column;
    padding: 1;
    align-items: center;
    color: #ccc;
}

.results {
    max-height:70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 0.5em;
    border: 2px solid #00d5ff;
    box-shadow: 
    0 0 2px #00d5ff,
    0 0 7px #00d5ff,
    inset 0 0 2px #00d5ff,
    inset 0 0 7px #00d5ff;
    overflow: scroll;
    transition: border 0.3s, box-shadow 0.3s;
    list-style: none;
}

.results:hover {
    background-color: #17012a;
    border: 4px solid #00d5ff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff;
    transition: 0.3s; 
}

img:hover {
    transform: scale(1.04);
}

@media screen and (max-width: 768px) {
    .results {
        grid-template-columns: 1fr 1fr; /* Cambia a dos columnas */
    }
}