.search-list {
    background-color: #0a0528;
    flex-direction: column;
    height: 92vh;
    font-family: 'Inter', sans-serif;
}

.form___search {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1em; 
    border: 2px solid #00d5ff;
    border-radius: 0.5em;
    box-shadow: 
        0 0 1px #00d5ff,
        0 0 3px #00d5ff,
        inset 0 0 1px #00d5ff,
        inset 0 0 3px #00d5ff;
    margin-top: 10px;
    padding: 20px;
    transition: border 0.3s, box-shadow 0.3s;
    
}
.form___search:hover{
    border: 4px solid #00d5ff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff;
    transition: 0.3s; 
    background-color: #23012f;

}

.form___search-type{
    width: 100%;
    max-width: 10em;
    padding: 0.5em;
    border: 4px solid #12fcff;
    border-radius: 0.25em;
    background: linear-gradient(#2c003b, #23012f);
    cursor: pointer;
    border-color: #12fcff;
    box-shadow: 
        0 0 5px #00d5ff,
        0 0 10px #00d5ff,
        inset 0 0 5px #00d5ff,
        inset 0 0 10px #00d5ff; 
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
}
.form___search-type-value{
    width: 100%;
    max-width: 10em;
    padding: 0.5em;
    cursor: pointer;
    border-color: #12fcff;
    color: #ffffff;
    background-color: #17012a;

}
.input-songs {
    height: max-content;
    width: 100%;
    max-width: 20em;
    padding: 0.5em;
    border: 4px solid #12fcff;
    border-radius: 0.25em;
    background: linear-gradient(#2c003b, #23012f);
    cursor: pointer;
    border-color: #12fcff;
    box-shadow: 
        0 0 5px #00d5ff,
        0 0 10px #00d5ff,
        inset 0 0 5px #00d5ff,
        inset 0 0 10px #00d5ff; 
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
}

.input-songs:hover {
    border: 4px solid #8500b2;
    box-shadow: 
        0 0 10px #8500b2,
        0 0 20px #8500b2,
        inset 0 0 10px #8500b2,
        inset 0 0 20px #8500b2;
    transition: 0.3s; 
}

.button-search {
    padding: 0.5em 1em;
    border-radius: 0.25em;
    border: 1px solid #12fcff;
    background: linear-gradient(#540071, #23012f);
    cursor: pointer;
    box-shadow: 
        0 0 5px #00d5ff,
        0 0 10px #00d5ff,
        inset 0 0 5px #00d5ff,
        inset 0 0 10px #00d5ff; 
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
}

.button-search:hover {
    border: 4px solid #8500b2;
    box-shadow: 
        0 0 10px #8500b2,
        0 0 20px #8500b2,
        inset 0 0 10px #8500b2,
        inset 0 0 20px #8500b2;
    transition: 0.3s; 
}

.results__list {
    list-style: none;
}

.results__item {
    margin-bottom: 0.5em;
}
.portrait{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portrait-img {
    width: auto;
    height: auto;
    max-width: 230px;
    border: 2px solid #12fcff;
    border-radius: 2px;
    transition: 0.3s; 
    margin-top: 10px;
}
.portrait-img:hover{
    transform: scale(1.04);
    border-radius: 0.25em;
    border: 4px solid #12fcff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff; 
}
.songs {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ccc;
}

.results {
    box-sizing: border-box;
    height:100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 0.5em;
    border: 2px solid #00d5ff;
    box-shadow: 
    0 0 1px #00d5ff,
    0 0 3px #00d5ff,
    inset 0 0 1px #00d5ff,
    inset 0 0 3px #00d5ff;
    transition: border 0.3s, box-shadow 0.3s;
    color: #ccc;
    overflow: scroll;
    list-style: none;
    gap: 1em;
}

.results:hover {
    background-color: #17012a;
    border: 4px solid #00d5ff;
    box-shadow: 
        0 0 10px #00d5ff,
        0 0 20px #00d5ff,
        inset 0 0 10px #00d5ff,
        inset 0 0 20px #00d5ff;
    transition: 0.3s; 
}

.portrait-title{
    color: #ffffff;
    font-size: 1.3em;
    text-align: center;
    font-family: 'Inter', sans-serif;

}

@media screen and (max-width: 768px) {
    .results {
        grid-template-columns: 1fr 1fr;
    }
    .results{
        max-height: 100%;
    }
    .songs {
        margin: 2px;
        font-size: 0.7em;
    }
    
    .portrait {
        width: auto;
        max-width: 20em;}
    }